.form-popup {
    margin-left:320px;
    display: none;
    position: absolute;
    left: 80px;
    top: 40px;
    bottom: 0;
    border: 3px solid #f1f1f1;
    
  
  }
  
  .form-container {
    width: 500px;
    padding: 10px;
    background-color: steelblue;
  }
  .form-container input[type=text]{
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: none;
    background: #f1f1f1;
  }

  .form-container textarea{
    width: 100%;
    border: none;
    padding: 10px;
    background: #f1f1f1;
  }
  
  .form-container .btn {
    margin-left:130px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 50%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  .form-container .cancel {
    background-color: red;
    color: white;
  
  }
  