<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud Example</title>
    {% load static %}  
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" >  
    <link href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" >  
    <script src="{% static '/js/jquery.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>  
    
</head>
<body>
    <table class="table table-bordered">  
        <thead>  
        <tr>  
            <th>UserName</th>
            <th>ShowName</th>  
            <th>Email</th>  
            <th>Address</th>
            <th>Phone</th>
            <th>Actions</th>  
        </tr>  
        </thead>  
        <tbody>  
    {% for ac in accounts %}  
        <tr>  
            <td>{{ ac.userName }}</td>   
            <td>{{ ac.showName }}</td>  
            <td>{{ ac.email }}</td>  
            <td>{{ ac.address }}</td>  
            <td>{{ ac.phone }}</td> 
            <td>  
            <button type="button" class="btn"><a href="/edit/{{ ac.id }}"> <i class="fa fa-pencil-square-o" aria-hidden="true"> </i></a></button>
                
            <button type="button" class="btn"><a href="/delete/{{ ac.id }}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>  </button>
            </td>  
        </tr>  
    {% endfor %}  
        </tbody>  
    </table>  
    <br>  
    <br>  
    <a href="/add" class="btn btn-primary">Add New Record</a>
</body>
</html>