<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="{% static '/js/jquery.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/angular.min.js' %}"></script>
    <script src="{% static '/js/script.js' %}"></script>

</head>

<body>

    <div ng-app="myApp">
        <div ng-controller="employeeCtrl">
            <my-directive></my-directive>
            <table align="center" id="example" class="table table-striped table-bordered" style="width:50%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Age</th>
                        <th>Description</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    {% for item in employees %}
                    <tr>
                        <td id="name_{{item.id}}">{{item.name}}</td>
                        <td id="address_{{item.id}}">{{item.address}}</td>
                        <td id="age_{{item.id}}">{{item.age}}</td>
                        <td id="description_{{item.id}}">{{item.description}}</td>
                        <td>
                            <button type="button" class="btn btn-warning" ng-click="openEdit({{item.id}})"> 
                                <i class="fa fa-pencil-square-o" aria-hidden="true"> </i></a></button>

                            <button type="button" class="btn btn-danger" ng-click="del({{item.id}})">
                                <i class="fa fa-trash-o" aria-hidden="true"></i></a> </button>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>
                            <button type="button" class="btn btn-primary" ng-click="openAdd(item)"> 
                                <i class="fa fa-plus-square"></i> Thêm mới</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="form-popup" id="myPopup">

                <form action="" class="form-container" name="empForm"> 
                    <h2 ng-bind="bindAdd"></h2>
                   <label for="name"><b>Name</b></label>
                   <input type="text" id="name" placeholder="Nhập tên" ng-model="emp.name" name="name" required>
    
                   <label for="address"><b>Address</b></label>
                   <input type="text" placeholder="Nhập địa chỉ"  ng-model="emp.address" name="address" required>
                   
                   <label for="age"><b>Age</b></label>
                   <input type="text" placeholder="Nhập tuổi" ng-model="emp.age" name="age" check-number required>
                   <span style="color: red;" ng-hide="empAge"> Bạn phải nhập số cho trường tuổi</span><br>

                   <label for="description"><b>Description</b></label>
                   <textarea name="description" placeholder="Mô tả" id="description" ng-model="emp.description" cols="50" rows="3"></textarea>
                   
                    <button type="submit" id="update" class="btn" ng-click="update(emp)">Update</button>
                    <button type="submit" id="insert" class="btn insert" ng-click="insert(emp)">Insert</button>
                    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                </form>
                                   
                </div> 
        </div>
    </div>
    <check-age></check-age>

    <script>
        function closeForm() {
          document.getElementById("myPopup").style.display = "none";
        }
        </script>
        
</body>

</html>