<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--Django Static Files Handling -->
    {% load static %}  
    <script src="{% static '/js/script.js' %}" type="text/javascript"></script>  
    <link href="{% static 'css/style.css' %}" rel="stylesheet">     

</head>
<body>
    <h1>Django Demo</h1>
    <!-- Django Template Language || Variables {{}} -->
    <p>{{display}}</p>
</body>
</html>