<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <form method="POST" class="post-form" enctype="multipart/form-data">  
        <!-- Cần có   {% csrf_token %}   để có thể sử dụng  Django forms -->
        {% csrf_token %}  
        <table>
            {{ form.as_table }}  
        </table>
        <button type="submit" class="save btn btn-default">Save</button>  
    </form>  
</body>
</html>